.characterContainer{
    position: absolute;
    left: 3%;
    bottom: 10%;

    .character1{
        height: 100px;
        width: 100px;
        
    }

    .characterName{
        width: 100%;
        font-family: 'Tangerine';
        text-align: left;
        font-size: 25px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .characterLvl{

    }

    progress::-webkit-progress-value{
        background: red;
    }
    progress::-moz-progress-bar { background: red; }

    #characterHealth{
        width: 100%;
        // font-family: 'Tangerine';
        text-align: left;
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 15px;
        height: 15px;
        line-height: 20px;
    }
    #characterExperience{
        width: 100%;
        // font-family: 'Tangerine';
        text-align: left;
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 5px;
        height: 15px;
        line-height: 20px;
    }
}

