.welcomeDiv {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center center;
}
.welcomeDiv .heroContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 60vh;
  justify-content: center;
  align-content: center;
}
.welcomeDiv .heroContainer .heroTitle {
  font-family: 'Tangerine';
  font-size: 120px;
  line-height: 240px;
  height: 140px;
  letter-spacing: -2px;
  width: 100%;
  text-align: center;
  margin: 0px auto;
}
.welcomeDiv .heroContainer .underTitle {
  font-size: 20px;
  line-height: 80px;
  letter-spacing: 2px;
  height: 40px;
  width: 100%;
  text-align: center;
  margin: 0px auto;
}
.journeySelector {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  width: 80%;
  height: 650px;
  top: 120px;
  padding-bottom: 30px;
  left: 50%;
  justify-content: center;
  transform: translate(-50%, 0%);
  background-image: url('../images/Worn-Parchment-BG-1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  font-family: 'Tangerine';
  align-content: center;
}
.formSection {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  max-width: 1400px;
  height: 100%;
  top: 120px;
  padding-bottom: 60px;
  padding-top: 30px;
  left: 50%;
  justify-content: center;
  transform: translate(-50%, 0%);
  background-image: url('../images/Worn-Parchment-BG-1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  font-family: 'Tangerine';
}
.formSection .formTitler {
  width: 100%;
  text-align: center;
  color: black;
  font-size: 45px;
  letter-spacing: 6px;
  line-height: 45px;
  height: 45px;
  margin-top: 15px;
  font-family: 'Tangerine';
}
.formSection .forgotPasswordDiv {
  margin: 15px auto;
  width: 100%;
  text-align: center;
  font-size: 15px;
  letter-spacing: 3px;
  color: black;
  font-family: 'Tangerine';
}
.formSection .forgotPasswordDiv span {
  color: #14beba;
}
.formSection .forgotPasswordDiv span:hover {
  cursor: pointer;
}
.formSection form {
  display: flex;
  flex-wrap: wrap;
  height: 90%;
  width: 80%;
  margin: auto;
  align-content: center;
  transition: all 1s ease;
}
.formSection label {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  margin: 10px 0;
  font-size: 1.4rem;
  width: 100%;
  font-family: 'Tangerine';
  font-size: 35px;
}
.formSection input,
.formSection select,
.formSection textarea {
  margin: 5px 0 0;
  display: block;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  transition: all 0.3s;
  font-size: 30px;
  letter-spacing: 0.5px;
  background-color: transparent;
  font-family: 'Tangerine';
  width: 325px;
}
.formSection input:-webkit-autofill,
.formSection input:-webkit-autofill:hover,
.formSection input:-webkit-autofill:focus,
.formSection textarea:-webkit-autofill,
.formSection textarea:-webkit-autofill:hover,
.formSection textarea:-webkit-autofill:focus,
.formSection select:-webkit-autofill,
.formSection select:-webkit-autofill:hover,
.formSection select:-webkit-autofill:focus {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  background-color: transparent!important;
  background: transparent!important;
}
.formSection select {
  height: 40px;
  width: 325px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}
.formSection select:focus {
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}
.formSection button {
  width: 250px;
  display: inline-block;
  padding: 8px 11px;
  font-size: 35px;
  border: 0px none;
  border-radius: 5px;
  letter-spacing: 2px;
  color: black;
  cursor: pointer;
  margin: 15px auto auto auto;
  text-align: center;
  font-family: 'Tangerine';
  background: transparent;
}
@media (max-width: 800px) {
  .formSection button {
    font-size: 15px;
    margin: auto;
  }
}
.formSection button:hover {
  background-image: none;
  cursor: url('../images/pixalKnightHand.png'), pointer;
}
.formSection .error {
  font-size: 25px;
  height: 25px;
  color: black;
  margin: 5px 0;
}
.formSection pre {
  font-size: 20px;
}
.buttonButNot {
  font-size: 45px;
  text-align: center;
}
.formSection.intro form {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.formSection.intro form input {
  width: 50%;
}
.formSection.intro form .buttonButNot {
  font-size: 45px;
  text-align: center;
  margin: auto 25px;
  margin-top: 15px;
}
.formSection.intro form .buttonButNot:hover {
  cursor: pointer;
}
.formSection.intro .introText {
  font-size: 30px;
  width: 50%;
  color: black;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 15px;
}
.style1 .dialogSectionFixed {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  width: 900px;
  height: 250px;
  bottom: 0px;
  padding-bottom: 30px;
  padding-top: 30px;
  padding-left: 60px;
  padding-right: 60px;
  left: 50%;
  justify-content: center;
  transform: translate(-50%, 0%);
  background-image: url('../images/parchmentLong.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Tangerine';
}
.style1 .dialogSectionFixed .dialogContent {
  width: 80%;
  font-size: 35px;
  text-align: center;
}
.characterContainer {
  position: absolute;
  left: 3%;
  bottom: 3%;
}
.characterContainer .character1 {
  margin-left: 20px;
  margin-left: -10px;
  margin-bottom: -55px;
  height: 100px;
  width: 100px;
}
.characterContainer .characterName {
  width: 200px;
  height: 20px;
  font-family: 'Tangerine';
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-image: url('../images/Parchment-Scroll-Opaque.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: black;
}
.characterContainer .characterStats {
  margin-left: 15px;
}
.characterContainer #health {
  margin-left: 15px;
}
.characterContainer #xp {
  margin-left: 15px;
}
.characterContainer progress::-webkit-progress-value {
  margin-left: 15px;
  background: red;
}
.characterContainer progress::-moz-progress-bar {
  background: red;
}
.characterContainer #characterHealth {
  width: 100%;
  text-align: left;
  font-size: 20px;
  margin-left: 15px;
  margin-top: 0px;
  margin-bottom: 15px;
  height: 15px;
  line-height: 20px;
}
.characterContainer #characterExperience {
  margin-left: 15px;
  width: 100%;
  text-align: left;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 5px;
  height: 15px;
  line-height: 20px;
}
#enemyContainer {
  position: absolute;
  right: 3%;
  top: 10%;
  transform: translate(0%, -50%);
}
#enemyContainer .character1 {
  height: 100px;
  width: 100px;
  margin-right: -10px;
  margin-bottom: -55px;
}
.characterInfoContainer {
  position: absolute;
  right: 3%;
  top: calc(211px);
  transform: translate(0%, -50%);
}
.characterInfoContainer .characterName {
  width: 200px;
  height: 20px;
  font-family: 'Tangerine';
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-image: url('../images/Parchment-Scroll-Opaque.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: black;
}
.characterInfoContainer #health {
  margin-left: 15px;
}
.characterInfoContainer #xp {
  margin-left: 15px;
}
.characterInfoContainer progress::-webkit-progress-value {
  background: red;
}
.characterInfoContainer progress::-moz-progress-bar {
  background: red;
}
.characterInfoContainer #characterHealth {
  margin-left: 15px;
  width: 100%;
  text-align: left;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 15px;
  height: 15px;
  line-height: 20px;
}
.characterInfoContainer #characterExperience {
  margin-left: 15px;
  width: 100%;
  text-align: left;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 5px;
  height: 15px;
  line-height: 20px;
}
.battlefield {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}
.battlefield .turnControllerContainer {
  background-image: url('../images/Parchment-Roll.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 200px;
  position: absolute;
  left: 50%;
  top: 30px;
  transform: translate(-50%, 0);
}
.battlefield .turnControllerContainer .turnController {
  font-family: 'Tangerine';
  text-align: center;
  font-size: 35px;
  padding-left: 35px;
  padding-right: 35px;
  padding: 15px;
}
.battlefield .battlefieldDialog {
  width: 100%;
}
.battlefield .battlefieldDialog .battlefieldOption {
  width: 100%;
}
.battlefield .battlefieldDialog .battlefieldOption .dialogContainer {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0);
  background-image: url('../images/Worn-Parchment-BG-2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 500px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.battlefield .battlefieldDialog .battlefieldOption .dialogContainer .dialog {
  font-family: 'Tangerine';
  width: 100%;
  text-align: center;
  font-size: 35px;
}
.fade-out {
  animation: fadeOut ease 8s;
  -webkit-animation: fadeOut ease 8s;
  -moz-animation: fadeOut ease 8s;
  -o-animation: fadeOut ease 8s;
  -ms-animation: fadeOut ease 8s;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide-up {
  from {
    padding-top: 100px;
    opacity: 1;
    line-height: 60px;
  }
  to {
    padding-top: 0;
    opacity: 0;
    line-height: 25px;
  }
}
.slide-up {
  animation: slide-up 1s;
}
#damageHolder {
  position: absolute;
  right: 3%;
  top: 0%;
  transform: translate(0%, -50%);
  width: 200px;
  z-index: 9999;
}
#damageHolder .damageContent {
  opacity: 0;
  animation: slide-up 3s;
  color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  font-family: 'Tangerine';
  text-align: center;
  width: 100%;
}
#characterDamageHolder {
  position: absolute;
  left: 3%;
  bottom: 40%;
  width: 200px;
  z-index: 9999;
}
#characterDamageHolder .damageContent {
  opacity: 0;
  animation: slide-up 3s;
  color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  font-family: 'Tangerine';
  text-align: center;
  width: 100%;
}
.moneySection {
  position: fixed;
  right: 6%;
  bottom: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.moneySection .moneyIcon {
  width: 44px;
  height: 60px;
  background-image: url('../../styles/images/goldStats.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.moneySection .moneyAmt {
  padding-left: 15px;
  font-family: 'Tangerine';
  font-size: 45px;
  line-height: 65px;
}
.choiceContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.choiceContainer .selectorContainer {
  background-image: url('../images/Parchment-Scroll-Opaque.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  display: block;
}
.choiceContainer .selectorContainer .selectorContent {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 2px;
  font-family: 'Tangerine';
  text-align: center;
  font-size: 35px;
  height: 20px;
  padding-left: 35px;
  padding-right: 35px;
  padding: 15px;
}
.choiceContainer .selectorContainer:hover {
  cursor: pointer;
}
.radialMenuContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.radialMenuContainer .radialItem {
  transition: all 0.2s ease-in-out;
  height: 64px;
  width: 64px;
}
.radialMenuContainer .radialItem:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.radialMenuContainer #battle {
  background-image: url('../images/fightIcon.png');
}
@font-face {
  font-family: 'Tangerine';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/tangerine/v12/IurY6Y5j_oScZZow4VOBDg.ttf) format('truetype');
}
@font-face {
  font-family: 'Tangerine';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/tangerine/v12/Iurd6Y5j_oScZZow4VO5srNpjA.ttf) format('truetype');
}
/*
 * Global Styles
 */
body {
  width: 100vw;
  padding: 0;
  margin: 0;
  background-color: aliceblue;
}
button {
  width: 250px;
  display: inline-block;
  padding: 8px 11px;
  font-size: 35px;
  border: 0px none;
  border-radius: 5px;
  letter-spacing: 2px;
  color: black;
  cursor: pointer;
  margin: 15px auto auto auto;
  text-align: center;
  font-family: 'Tangerine';
  background: transparent;
  text-decoration: underline solid transparent;
  transition: text-decoration 1s ease;
  text-decoration-thickness: 1.5px;
}
@media (max-width: 800px) {
  button {
    font-size: 15px;
    margin: auto;
  }
}
button:hover {
  background-image: none;
  text-decoration: underline solid Currentcolor;
  text-decoration-thickness: 1.5px;
}
.white {
  color: white;
}
.fullWidth {
  width: 100%;
}
